<p>
  movimiento works!
</p>

<app-movimiento-editor [movimientoParaEditar]="movimiento"></app-movimiento-editor>


<table class="table">
  <thead>
    <tr>
      <th (click)="ordenarPor('fecha')">Fecha</th>
      <th>Tipo</th>
      <th>Categoria</th>
      <th (click)="ordenarPor('importe')">Importe</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let m of movimientosService.movimientos">
      <td class="text-left">{{fecha(m.fecha) | date:"dd-MM-yyyy"}}</td>
      <td class="text-left">{{m.tipo}}</td>
      <td class="text-left">{{m.categoria}}</td>
      <td class="text-left" [ngClass]="{positivo: m.tipo==='Ingreso',negativo: m.tipo==='Gasto'}">{{m.importe | number:'1.2-5'}} $</td>
    </tr>
  </tbody>
</table>  

<div class="positivo">
  <span>Ingresos:</span>
  <span>{{movimientosService.ingresos}} $</span>
</div>  

<div class="negativo">
  <span>Gastos:</span>
  <span>{{movimientosService.gastos}} $</span>
</div>  


<div [ngClass]="{positivo: balance >=0 , negativo: balance<0}">
  <span>Balance:</span>
  <span>{{movimientosService.balance}} $</span>
</div>  